<h2> Please enter feedback for your TAs </h2>

<%= form_tag do %>
<% @courseTAs.each do |coursenum, tas| %>

<h3> Course <%= coursenum %> </h3>
<table>
<thead>
    <tr>
    <th colspan="3"></th>
    </tr>
</thead>
<tbody>
    <% tas.each do |details| %>
    <tr>
        <td><%= details["name"] %></td>
        <td>
            <% grade = details["grade"] %>
            <select id="grade_selection" name="course[<%= coursenum %>][<%= details["ta"] %>][tagrade]">
                <option value="10" <%= (grade == 10)?"selected":"" %> >Recommended for TA Award</option>
                <option value="9" <%= (grade == 9)?"selected":"" %> >A -- Outstanding</option>
                <option value="8" <%= (grade == 8)?"selected":"" %> >B -- Competent</option>
                <option value="7" <%= (grade == 7)?"selected":"" %> >C -- Minor issues</option>
                <option value="6" <%= (grade == 6)?"selected":"" %> >D -- Major issues</option>
                <option value="4" <%= (grade == 4)?"selected":"" %> >DO NOT ASSIGN (Disciplinary issues?)</option>
                <option value="0" <%= (grade == 0)?"selected":"" %> >Not rated</option>
            </select>
        </td>
        <td> 
            <textarea cols="50" row="10" id="comments" name="course[<%= coursenum %>][<%= details["ta"] %>][tacomments]"><%= details["comments"] %></textarea>
        </td>
    </tr>
    <% end %>
</tbody>
</table>
<% end %>
<%= submit_tag "Submit" %>
<% end %>
